.vscode/
.ruff_cache/
.ipynb_checkpoints/
venv*/
*data*/
validation/figs

# build files
__pycache__/
*.egg-info
*.pyc
dist/
.coverage

*.out
*.DS_Store

# LagrangeBench related
datasets/
ckp/
wandb/
rollout/
rollouts/

# Sphinx documentation
docs/_build/