h5py
-e git+https://github.com/jax-md/jax-md.git@c451353f6ddcab031f660befda256d8a4f657855#egg=jax-md
jax[cpu]==0.4.28
omegaconf
pandas
pyvista
sphinx==7.2.6
sphinx-exec-code==0.12
sphinx-rtd-theme==1.3.0
toml==0.10.2
